<!doctype html>
<html>
  <head>
    <style>
      <%= Rouge::Themes::ThankfulEyes.render(:scope => '.highlight') %>
    </style>
    <%= partial "partials/head" %>
    <title>Thiago Henrique - <%= current_article.title %></title>
  </head>
  <body>
    <%= partial "partials/header" %>
    
    <div class="container">
      <main>
        <article class="article-full">
          <div style="margin: 0 auto" class="col-10">
            <div class="box-white box-with-shadow box-rounded">
              <h2><%= current_article.title %></h2>

              <%= current_article.date.strftime("%d/%m/%Y") %>

              <% unless current_article.data.description.nil? %>
              <p class="article-description text-muted">
                <%= current_article.data.description %>
              </p>
              <% end %>

              <span class="article-body">
              <%= yield %>
                <% if current_article.data.refs.is_a?(Array) %>
                <hr />
                <div class="references">
                  <% current_article.data.refs.each do |reference| %>
                  <p class="reference text-muted"><%= reference %></p>
                  <% end %>
                </div>
                <% end %>
              </span>
            </div>
          </div>

        </article>
      </main>
    </div>

    <%= partial "partials/footer" %>
  </body>
</html>
